# Virtual env
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / logs
*.log
*.tmp
*.bak

# macOS stuff
.DS_Store

# Output folders
downloads/
models/
temp/
cache/
output/

# Git
.git/
.gitignore

# IDE / editor
.vscode/
.idea/
*.swp
